.campus_life_mainDiv {
    border: 1px solid lightgrey;
}

.campus_life_mainDiv img {
    width: 100%;
}

.campus_life_mainDiv h5,
.campus_life_mainDiv p {
    margin: 20px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie_head i {
    float: right;
}

glyphicon-star {
    color: orange;
}

.new {
    margin-bottom: 20px;
}

#contact_iframe {
    width: 100%;
}